<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/login.css">
    <script type="module" defer src="./js/jq.js"></script>
    <script type="module" defer src="./js/axios.js"></script>
    <script type="module" defer src="./js/logIn.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="background">
            <div class="background__bottom"></div>
        </div>
        <main class="main">
            <div class="decor">
                <h1 class="decor__title">Облачные города. Форум о будущем городов БРИКС</h1>
                <h2 class="decor__subtitle">September 18 — 19, 2024</h2>
                <div class="decor__img">
                </div>
                <div class="decor__bg">
                    <video autoplay muted loop>
                        <source src="./img/bricks_v2.webm" type="video/webm">
                        Ваш браузер не поддерживает тег <code>video</code>.
                    </video>
                </div>
                <p class="decor__text">Moscow, Zaryadye Moscow Concert Hall</p>
                <div class="decor__companies">
                    <div class="company mos"></div>
                    <div class="company brics"></div>
                </div>
            </div>
            <div class="content">
                <div class="content__decor dec1"></div>
                <div class="content__decor dec2"></div>
                <div class="content__decor dec3"></div>
                <div class="conteiner">
                    <form action="#" onsubmit="return false;" class="form">
                        <div class="form__decor"></div>
                        <div class="form__input input --login">
                            <input type="text" class="input__inp" id="login" placeholder="Логин">
                        </div>
                        <div class="form__input input --pass">
                            <input type="password" class="input__inp" id="password" placeholder="Пароль">
                        </div>
                        

                        <button class="form__btn btn"><span>Вход</span><div class="btn__grad"></div></button>
                    </form>
                </div>
            </div>
        </main>
    </div>
    <div class="modal">
        <div class="modal__back"></div>
        <div class="modal__content">
            <h2 class="modal__title">Ошибка</h2>
            <!-- <h3 class="modal__error">Аккаунт существует</h3> -->
            <button class="modal__btn btn"><span>Закрыть</span><div class="btn__grad"></div></button>
        </div>
    </div>

</body>
</html>