<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление пользователей</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/parser.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <div class="settings">
            <div class="settings__conteiner">
                <div class="row">
                    <input type="text" class="input groupe" placeholder="Ссылка на канал или @username">
                    <select class="count">
                        <option value="0" selected disabled>Выберите количество записей:</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <button class="btn">Найти записи</button>
            </div>

            <div class="posts">
                <div class="posts__conteiner">
                    <!-- <div class="posts__post post --media">
                        <div class="post__title">Название</div>
                        <div class="post__media media">
                            <div class="media__item --first"></div>
                            <div class="media__item --two"></div>
                            <div class="media__item --two"></div>
                            <div class="media__item --one"></div>
                            <div class="media__item --three "></div>
                            <div class="media__item --three "></div>
                            <div class="media__item --three "></div>
                            <div class="media__item --two"></div>
                            <div class="media__item --two"></div>
                        </div>
                        <div class="posts__text">
                            OMG 😲 do you remember what you did last night
                            at the work night out?
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <script src="./js/jq.js"></script>
    <script src="./js/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>
    <script type="module" src="./js/parser.js"></script>
</body>

</html>