<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/partner.css">
    <script type="module" defer src="./js/jq.js"></script>
    <script type="module" defer src="./js/axios.js"></script>
    <script type="module" defer src="./js/jqueryOverlay.js"></script>
    <script type="module" defer src="./js/partner.js"></script>
</head>

<body>
    <div class="wrapper">
        <main class="main">
            <div class="main__decor"></div>
            <div class="main__conteiner">
                <div class="content">
                    <div class="content__text">
                        <h1 class="content__title">Профиль</h1>
                        <div class="line">
                            <h1 class="content__subtitle">Партнёра</h1>
                            <div class="subtitle__decor"></div>
                        </div>
                        <div class="inputs --views --nonre">
                            <div class="content__input input">
                                <h2 class="input__title">Название компании</h2>
                                <p class="input__value --organization">Dataforum</p>
                            </div>
                            <div class="content__input input">
                                <h2 class="input__title">Сайт</h2>
                                <p class="input__value --site">https://dataforum.pro</p>
                            </div>
                            <div class="content__input input">
                                <h2 class="input__title">Краткое описание</h2>
                                <p class="input__value --description">Техническое обеспечение мероприятия световым, звуковым, видео- и конференц-оборудованием</p>
                            </div>
                            <div class="content__input input ">
                                <h2 class="input__title">Контакты:</h2>
                                <p class="input__value --contacts">Телефон: 8 (812) 454-50-90</p>
                            </div>
                        </div>
                        <div class="inputs --edit --none">
                            <div class="edit-input">
                                <h3 class="edit-input__title">Название компании</h3>
                                <input type="text" maxlength="200" class="edit-input__inp --e-organization">
                            </div>
                            <div class="edit-input">
                                <h3 class="edit-input__title">Сайт</h3>
                                <input type="text" maxlength="200" class="edit-input__inp --e-site">
                            </div>
                            <div class="edit-input">
                                <h3 class="edit-input__title">Краткое описание</h3>
                                <textarea maxlength="200" class="edit-input__inp --e-description"></textarea>
                            </div>
                            <div class="edit-input">
                                <h3 class="edit-input__title">Контакты</h3>
                                <textarea maxlength="200" class="edit-input__inp --e-contacts"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="content__btns">
                        <button class="edit__btn btn --grad">
                            <div class="btn__grad"></div><span>Редактировать профиль</span>
                        </button>
                        <button class="list__btn btn">Загрузить список участников</button>
                    </div>
                </div>
                <div class="material"></div>
                <a href="./files/test.xlsx" download class="list-btn btn">Скачать справочник экспонента</a>
            </div>
        </main>
        <div class="exit">
            <div class="exit__content">
                <div class="exit__ico"></div>
            </div>
        </div>
    </div>
</body>

</html>