

<h4>Благодарим Вас за регистрацию на Форум будущего БРИКС. Облачные города!</h4><br>

Вы сможете получить распечатанный бейдж на стойке регистрации. <br>
По нему вы сможете проходить на форум в течение всех дней проведения. <br><br>

Дни работы форума:<br>
18 сентября (ср) с 10:00 до 19:00<br>
19 сентября (чт) с 10:00 до 19:00<br> <br>

Место проведения:<br>
Москва, ул. Варварка, 6, стр. 4, Москва, МКЗ Зарядье. <br> <br>

Информационная поддержка:<br>
8 800 333 43 46<br>
info@brics-forum.com<br> <br>

Стать партнером:<br>
partners@brics-forum.com<br> <br>

Стать спикером:<br>
programme@brics-forum.com<br> <br>

Для СМИ:<br>
Анастасия Иващенко<br>
+ 7 964 566 57 93<br>
pr@brics-forum.com<br>

С наилучшими пожеланиями,<br>
Команда форума<br> <br>

<img width="100%" src="https://registration.cloudcityconf.com/img/mail/decor.png" >
