@import url(./zero.css);
@import url(./scrollbar.css);

$index: calc(1vw + 1vh);

.background {
    width: 54%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(
        317deg,
        #c763ff 18%,
        #3769fa 49.37%,
        #283fd1 81.37%
    );
    &__bottom {
        position: absolute;
        width: 100%;
        height: 300px;
        bottom: 0;
        background: #e9e7ef;
    }
}

.main {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: flex;

    .decor {
        *:not(.decor__bg) {
            position: relative;
            z-index: 10;
        }
        flex: 1 1 50%;
        height: 100%;
        position: relative;
        background: linear-gradient(
            317deg,
            #c763ff 18%,
            #3769fa 49.37%,
            #283fd1 81.37%
        );
        border-radius: 0 0 60px 0;
        display: flex;
        flex-direction: column;
        padding: 60px 30px;
        justify-content: center;
        align-items: center;

        &__bg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 5;
            background-color: #283fd1;
            video {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: 100%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                object-fit: cover;
                z-index: 5;
            }
        }
        // .decor__title

        &__title {
            color: #e9e7ef;
            text-align: center;
            font-family: "Open Sans";
            font-size: calc($index * 1.2);
            font-style: normal;
            font-weight: 600;
            margin-bottom: 5px;
        }

        // .decor__subtitle

        &__subtitle {
            color: #e9e7ef;
            font-family: "Open Sans";
            font-size: calc($index * 1);
            font-style: normal;
            font-weight: 400;
            line-height: 48px; /* 153.846% */
        }

        // .decor__img

        &__img {
            width: 100%;
            max-width: calc($index * 20);
            aspect-ratio: 1;
            // background-image: url(../img/bricks_v.gif);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin: auto;
        }

        // .decor__text

        &__text {
            color: #e9e7ef;
            text-align: center;
            font-family: "Open Sans";
            font-size: calc($index * 0.5);
            font-style: normal;
            font-weight: 400;
            line-height: 35px; /* 218.75% */
            margin-bottom: calc($index * 0.5);
        }

        // .decor__companies

        &__companies {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 60px;
            width: 100%;
        }
    }
}

.company {
    width: 100%;
    max-width: calc($index * 5);
    aspect-ratio: 166.5/57.48;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.mos {
    background-image: url(../img/logos/mos.svg);
}
.brics {
    background-image: url(../img/logos/brics.svg);
}

.content {
    height: 100%;
    flex: 1 1 50%;
    background: #e9e7ef;
    border-radius: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 100vh;

    &__decor {
        position: absolute;
        aspect-ratio: 1;
    }

    .dec1 {
        width: 800px;
        border-radius: 848px;
        background: linear-gradient(135deg, #dddbe3 0%, #f5f3fb 100%);
        box-shadow: 1px 1px 2px 0px rgba(235, 233, 241, 0.3) inset,
            -1px -1px 2px 0px rgba(231, 229, 237, 0.5) inset,
            -14px 14px 28px 0px rgba(231, 229, 237, 0.2),
            14px -14px 28px 0px rgba(231, 229, 237, 0.2),
            -14px -14px 28px 0px rgba(235, 233, 241, 0.9),
            14px 14px 35px 0px rgba(231, 229, 237, 0.9);
        top: -250px;
        left: -300px;
    }
    .dec2 {
        width: 700px;
        border-radius: 751px;
        background: linear-gradient(135deg, #dddbe3 0%, #f5f3fb 100%);
        box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset,
            -1px -1px 2px 0px rgba(193, 192, 198, 0.5) inset,
            -12px 12px 24px 0px rgba(193, 192, 198, 0.2),
            12px -12px 24px 0px rgba(193, 192, 198, 0.2),
            -12px -12px 24px 0px rgba(255, 255, 255, 0.9),
            12px 12px 30px 0px rgba(193, 192, 198, 0.9);
        right: -250px;
        bottom: -300px;
    }
    .dec3 {
        width: 450px;
        border-radius: 471px;
        background: linear-gradient(135deg, #dddbe3 0%, #f5f3fb 100%);
        box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3) inset,
            -1px -1px 2px 0px rgba(193, 192, 198, 0.5) inset,
            -12px 12px 24px 0px rgba(193, 192, 198, 0.2),
            12px -12px 24px 0px rgba(193, 192, 198, 0.2),
            -12px -12px 24px 0px rgba(255, 255, 255, 0.9),
            12px 12px 30px 0px rgba(193, 192, 198, 0.9);
        right: -125px;
        bottom: -175px;
    }
    .conteiner {
        display: flex;
        height: 100%;
        padding: 60px 20px;
        gap: 36px;
        align-items: start;
        justify-content: center;
        width: 100%;
        // flex: 1 1 auto;
        position: relative;
        z-index: 10;
        margin: auto auto;
    }
    .lang {
        border-radius: 16px;
        background: #e9e7ef;
        box-shadow: -4.368px -2.176px 12.8px 0px #fff,
            4.368px 2.176px 12.8px 0px rgba(136, 165, 191, 0.5);
        cursor: pointer;
        color: #31456a;
        transition: all 0.5s ease;

        height: 100%;
        max-height: calc($index * 2);
        position: relative;
        /* cloudcityconf.com/Open Sans/Regular 16 upper */
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;

        &.--open {
            max-height: calc($index * 4);
            .lang__item:not(.--active) {
                opacity: 1;
            }
        }

        &__item {
            font-size: calc($index * 0.6);
            // padding: 22px 28px;
            width: calc($index * 2.6);
            height: calc($index * 2);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 5;
            background: #e9e7ef;
            border-radius: 16px;
            transition: all 0.5s ease;
            &:not(.--active) {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 4;
                opacity: 0;
            }
        }

        &:hover {
            .lang__item {
                background: #f4f4f4;
            }
            border-radius: 16px;
            background: #f4f4f4;
            box-shadow: -4.368px -2.176px 12.8px 0px #fff,
                4.368px 2.176px 12.8px 0px rgba(136, 165, 191, 0.5);
        }
    }

    .form {
        width: 100%;
        max-width: calc($index * 16);
        border-radius: 16px;
        background: #e9e7ef;
        box-shadow: -8px -8px 16px 0px rgba(255, 255, 255, 0.9),
            8px 8px 20px 0px rgba(205, 203, 210, 0.9);
        padding: calc($index * 0.5) 45px;
        height: 100%;
        &__decor {
            width: calc($index * 4);
            aspect-ratio: 1;
            background-image: url(../img/form.svg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto;
            margin-bottom: calc($index * 0.4);
        }

        // .form__btn

        &__btn {
            &::after {
                content: "";
                position: absolute;
                width: 500px;
                height: 180px;
                rotate: 45deg;
                top: 0;
                left: 0;
                // display: none;
                background: linear-gradient(
                    to bottom,
                    rgba(233, 231, 239, 0) 0%,
                    #e9e7ef 50%,
                    rgba(233, 231, 239, 0) 100%
                );
                opacity: 0;
                animation: leftTranslate 4s infinite;
            }

            &.--sending::after {
                opacity: 0.8;
            }

            &.--sending {
                border-radius: 40px;
                border-radius: 40px;
                background: #e9e7ef;
                box-shadow: -5px 5px 10px 0px rgba(193, 192, 198, 0.2) inset,
                    5px -5px 10px 0px rgba(193, 192, 198, 0.2) inset,
                    -5px -5px 10px 0px rgba(255, 255, 255, 0.9) inset,
                    5px 5px 13px 0px rgba(193, 192, 198, 0.9) inset;
                .btn__grad {
                    opacity: 0;
                }
                span {
                    color: #81788a;
                    text-align: center;
                    font-family: "Open Sans";
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }
            }
        }
    }
}

.politics {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-bottom: calc($index * 0.8);

    &__title {
        color: #81788a;
        font-family: "Open Sans";
        font-size: calc($index * 0.45);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        a {
            color: #81788a;
            font-weight: 700;
            text-decoration-line: underline;
        }
    }
}
.checkbox {
    min-width: calc($index * 1);
    aspect-ratio: 1;
    background-image: url(../img/check/false.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    &[val="true"] {
        background-image: url(../img/check/true.svg);
    }
}

.input {
    width: 100%;
    position: relative;
    z-index: 10;

    &:not(:last-child) {
        margin-bottom: calc($index * 0.55);
    }
    // .input__inp

    &.file-input {
        padding: 10px 15px;
        border-radius: 36px;
        background: #e9e7ef;
        box-shadow: -5px 5px 10px 0px rgba(198, 196, 203, 0.2) inset,
            5px -5px 10px 0px rgba(198, 196, 203, 0.2) inset,
            -5px -5px 10px 0px rgba(255, 255, 255, 0.9) inset,
            5px 5px 13px 0px rgba(198, 196, 203, 0.9) inset;

        .row {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
        }

        .errors {
            padding: 10px 14px;
            transition: all 0.5s ease;
            max-height: 0;
            overflow: hidden;
            padding: 0 14px;
            &.--open {
                padding: 10px 14px;
                max-height: 200px;
            }

            .filename {
                color: #37343a;
                font-family: "Open Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 27px; /* 168.75% */
            }

            .error {
                color: #cc1414;
                font-family: "Open Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 27px; /* 168.75% */
            }
        }

        .label {
            border-radius: 40px;
            background: #e9e7ef;
            box-shadow: -5.46px -2.72px 16px 0px #fff,
                5.46px 2.72px 16px 0px rgba(136, 165, 191, 0.5);
            text-align: center;
            padding: 10px 20px;
            color: #777677;
            text-align: center;
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
            flex: 1 1 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            &__text {
                color: #2942d4;
                text-align: center;
                font-family: "Open Sans";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 27px; /* 168.75% */
                &.--load {
                    color: #777677;
                    text-align: center;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 27px; /* 168.75% */
                }

                &.--err {
                    color: #37343a;
                    text-align: center;
                    font-family: "Open Sans";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 27px; /* 168.75% */
                }
            }
        }

        .save-btn {
            position: relative;
            z-index: 20;
            border-radius: 40px;
            background: linear-gradient(
                288deg,
                #c763ff 10.83%,
                #3769fa 44.48%,
                #283fd1 67.86%
            );
            box-shadow: 5.46px 2.72px 22.94px 0px rgba(136, 165, 191, 0.5);
            color: #e9e7ef;
            text-align: center;
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 27px;
            padding: 10px 20px;
            flex: 1 1 50%;
            cursor: pointer;
            text-decoration: none;
        }

        #file {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
            z-index: 8;
        }

        .loader {
            width: 20px;
            aspect-ratio: 1;
            background-image: url(../img/loader.gif);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .x {
            width: 20px;
            aspect-ratio: 1;
            background-image: url(../img/x.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .arrow {
            width: 20px;
            aspect-ratio: 1;
            background-image: url(../img/arr.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__inp {
        width: 100%;
        padding: calc($index * 0.2) 24px;
        border-radius: 40px;
        background: #e9e7ef;
        box-shadow: 1px 1px 2px 0px rgba(255, 255, 255, 0.3),
            -1px -1px 2px 0px rgba(217, 217, 217, 0.5),
            -5px 5px 10px 0px rgba(217, 217, 217, 0.2) inset,
            5px -5px 10px 0px rgba(217, 217, 217, 0.2) inset,
            -5px -5px 10px 0px rgba(255, 255, 255, 0.9) inset,
            5px 5px 13px 0px rgba(217, 217, 217, 0.9) inset;
        border: 0;
        color: #37343a;
        font-family: "Open Sans";
        font-size: calc($index * 0.55);
        font-style: normal;
        font-weight: 500;
        line-height: 36px; /* 218.75% */
        outline: none;
        z-index: 20;
        position: relative;
        &::placeholder {
            color: #81788a;
            font-family: "Open Sans";
            font-size: calc($index * 0.55);
            font-style: normal;
            font-weight: 500;
            line-height: 36px; /* 218.75% */
        }

        &:focus::placeholder {
            opacity: 0;
        }
    }

    &.org {
        z-index: 11;
    }

    .org-list,
    .type-list {
        position: absolute;
        width: 100%;
        border-radius: 16px;
        background: #fafbfc;
        padding: 15px;
        z-index: 12;
        top: calc(100% + 20px);
        max-height: 200px;
        // overflow-y: auto;
    }
    .list {
        // .list__item

        &__item {
            padding: 5px 20px;
            color: #37343a;
            font-family: "Open Sans";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            border-radius: 22px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                border-radius: 22px;
                color: #3769FA;
                cursor: pointer;
            }

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.--over {
    z-index: 5;
}
.btn {
    width: 100%;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: calc($index * 1);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: calc($index * 0.35) 10px;
    border-radius: 40px;
    background: linear-gradient(
        280deg,
        #2942d4 28.73%,
        #3769fa 50.97%,
        #fc5bff 87.24%
    );
    position: relative;
    overflow: hidden;
    box-shadow: -5px 5px 10px 0px rgba(198, 196, 203, 0.2),
        5px -5px 10px 0px rgba(198, 196, 203, 0.2),
        -5px -5px 10px 0px rgba(255, 255, 255, 0.9),
        5px 5px 13px 0px rgba(198, 196, 203, 0.9);
    border: 0;
    cursor: pointer;
    &:hover &__grad {
        opacity: 0;
    }
    span {
        position: relative;
        z-index: 10;
    }
    &__grad {
        background: linear-gradient(
            160deg,
            #2942d4 43.6%,
            #3769fa 71.42%,
            #fc5bff 100.84%
        );
        transition: all 0.5s ease;
        opacity: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all 0.5s ease;

    &.--open {
        opacity: 1;
    }

    &__back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 22;
        cursor: pointer;
    }

    &__title {
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        font-family: "Open Sans";
    }

    &__error {
        font-size: 24px;
        margin-bottom: 10px;
        font-family: "Open Sans";
        font-weight: 500;
    }

    &__btn {
        width: 100%;
        padding: 15px 10px;
        margin-top: 20px;
    }

    // .modal__content

    &__content {
        position: relative;
        z-index: 24;
        max-width: 540px;
        width: 100%;
        border-radius: 40px;
        background: linear-gradient(135deg, #f5f3fb 0%, #dddbe3 100%);
        box-shadow: -4px 4px 8px 0px rgba(191, 189, 196, 0.2),
            4px -4px 8px 0px rgba(191, 189, 196, 0.2),
            4px 4px 10px 0px rgba(191, 189, 196, 0.9);
        min-height: 200px;
        padding: 40px 50px;
    }
}

@keyframes leftTranslate {
    0% {
        left: -150%;
    }
    100% {
        left: 120%;
    }
}

@media screen and (min-width: 2215px) {
    .input {
        &:not(:last-child) {
            margin-bottom: calc($index * 0.6);
        }
        &__inp {
            padding: calc($index * 0.45) 24px;
        }
    }

    .politics {
        margin-bottom: calc($index * 1);
    }
}

// @media screen and (max-width: 2215px) {
//     .content {
//         .form {
//             // height: 100%;
//             padding-top: 20px;
//             padding-bottom: 35px;
//             max-width: 540px;
//             &__decor {
//                 width: 100px;
//                 margin-bottom: 15px;
//             }
//             &__btn {
//                 font-size: 20px;
//                 padding: 16px 10px;
//             }
//         }

//         .conteiner {
//             padding: 60px 15px;
//         }
//     }

//     .main {
//         .decor__img {
//             max-width: 500px;
//         }
//         .decor {
//             padding: 60px 20px;
//         }
//     }

//     .input {
//         &__inp {
//             padding: 12px 24px;
//             font-size: 14px;
//             line-height: 20px;
//             &::placeholder {
//                 font-size: 14px;
//             }
//         }
//         &:not(:last-child) {
//             margin-bottom: 22px;
//         }
//     }

//     .politics {
//         margin-top: 20px;
//         margin-bottom: 15px;
//     }
// }

// @media screen and (max-width: 1600px) {
//     .content {
//         .form {
//             padding: 10px 20px;
//             padding-bottom: 25px;
//             max-width: 540px;
//             &__decor {
//                 width: 80px;
//                 margin-bottom: 15px;
//             }
//             &__btn {
//                 font-size: 20px;
//                 padding: 16px 10px;
//             }
//         }

//         .conteiner {
//             padding: 30px 40px;
//         }

//         .lang {
//             font-size: 14px;
//             max-height: 46px;
//             &__item {
//                 padding: 14px 20px;
//             }
//         }
//     }

//     .main {
//         .decor {
//             padding: 30px 40px;
//             &__title {
//                 font-size: 40px;
//                 line-height: 44px;
//             }

//             // .decor__subtitle

//             &__subtitle {
//                 font-size: 32px;
//                 line-height: 40px; /* 153.846% */
//             }

//             // .decor__img

//             &__img {
//                 max-width: 400px;
//                 margin: 0 auto;
//                 margin-top: 50px;
//                 margin-bottom: 20px;
//             }

//             // .decor__text

//             &__text {
//                 color: #e9e7ef;
//                 text-align: center;
//                 font-family: "Open Sans";
//                 font-size: 18px;
//                 font-style: normal;
//                 font-weight: 400;
//                 line-height: 35px; /* 218.75% */
//                 margin-bottom: 30px;
//             }

//             // .decor__companies
//         }
//     }

//     .input {
//         &__inp {
//             padding: 14px 24px;
//             &::placeholder {
//                 font-size: 14px;
//             }
//         }
//         &:not(:last-child) {
//             margin-bottom: 18px;
//         }
//     }

//     .politics {
//         margin-bottom: 12px;
//         &__title {
//             font-size: 16px;
//         }
//     }

//     .company {
//         max-width: 200px;
//     }
// }

// @media screen and (max-width: 1100px) {
//     .background {
//         width: 56%;
//     }
//     .content {
//         .form {
//             padding-bottom: 20px;
//             &__decor {
//                 width: 80px;
//                 margin-bottom: 5px;
//             }

//             &__btn {
//                 padding: 10px;
//             }
//         }
//     }

//     .politics {
//         &__title {
//             font-size: 14px;
//         }
//     }

//     .checkbox {
//         min-width: 26px;
//     }

//     .input {
//         &__inp {
//             padding: 10px 24px;
//             font-size: 16px;
//             line-height: 22px;
//             &::placeholder {
//                 font-size: 16px;
//             }
//         }

//         &:not(:last-child) {
//             margin-bottom: 15px;
//         }
//     }
// }

@media screen and (max-width: 1000px) {
    .main {
        .decor {
            display: none;
        }
    }
    .content {
        border-radius: 0;
        position: relative;
        overflow-y: auto;
        height: 100%;
        &__decor {
            display: none;
        }
        .conteiner {
            width: initial;
            display: block;
            margin: 0 auto;
            position: relative;
            padding: 30px 0;
            width: 100%;
            flex: 1 1 auto;
            height: inherit;
            max-width: calc($index * 30);
            .form {
                width: 100%;
                height: inherit;
                max-width: inherit;
                padding: 20px;
                padding-bottom: 20px;
                border-radius: 0;
                &__decor {
                    width: calc($index * 12);
                    margin-bottom: calc($index * 2);
                }
                box-shadow: unset;
            }
        }
        .lang {
            position: absolute;
            z-index: 20;
            top: 45px;
            right: 30px;
            &__item {
                width: calc($index * 6);
                height: calc($index * 5);
                font-size: calc($index * 1.4);
            }
            max-height: calc($index * 5);
            &.--open {
                max-height: calc($index * 10);
                .lang__item:not(.--active) {
                    opacity: 1;
                }
            }
        }
    }

    .input {
        &:not(:last-child) {
            margin-bottom: calc($index * 1.8);
        }
        &__inp {
            padding: calc($index * 1) 24px;
            font-size: calc($index * 1.5);
            &::placeholder {
                font-size: calc($index * 1.5);
            }
        }
    }

    .politics {
        &__title {
            font-size: calc($index * 1.2);
        }
        margin-bottom: calc($index * 3);
    }

    .checkbox {
        min-width: calc($index * 2.4);
    }

    .btn {
        padding: calc($index * 1.6) 10px;
        font-size: calc($index * 2);
        margin-bottom: 50px;
    }

    .modal {
        padding: 0 calc($index * 4);

        &__title {
            font-size: calc($index * 1.8);
            margin-bottom: 20px;
        }

        &__error {
            font-size: calc($index * 1.1);
        }

        &__btn {
            width: 100%;
            padding: calc($index * 0.8) 10px;
            margin-top: 20px;
            margin-bottom: 0;
        }

        // .modal__content

        &__content {
            position: relative;
            z-index: 24;
            max-width: 540px;
            min-height: 200px;
            padding: 30px 30px;
        }
    }
}

//         .form {
//             min-height: 100%;
//         }
//     }

//     .input {
//         &__inp {
//             padding: 16px 24px;
//             font-size: 16px;
//             line-height: 22px;
//             &::placeholder {
//                 font-size: 16px;
//             }
//         }

//         &:not(:last-child) {
//             margin-bottom: 20px;
//         }
//     }
// }

@media screen and (max-width: 720px) {
    .content .conteiner {
        width: 100%;
        padding: 0;
        max-width: inherit;
        .form {
            max-width: 100%;
        }
    }
}
//     // .lang {
//     //     display: none;
//     // }

//     .content {
//         overflow-y: auto;
//         .conteiner {
//             position: static;
//             padding: 0;
//         }

//         .form {
//             border-radius: 0;
//             padding: 40px 30px 60px 30px;
//             &__decor {
//                 width: 120px;
//                 margin-bottom: 15px;
//             }

//             &__btn {
//                 font-size: 20px;
//                 padding: 16px 10px;
//             }
//         }
//     }

//     .politics {
//         margin-top: 25px;
//         margin-bottom: 30px;
//         &__title {
//             font-size: 11px;
//         }
//     }

//     .input {
//         &__inp {
//             padding: 10px 24px;
//             font-size: 15px;
//             line-height: 35px;
//             &::placeholder {
//                 font-size: 14px;
//             }
//         }

//         &:not(:last-child) {
//             margin-bottom: 26px;
//         }
//     }

//     .modal {
//         padding: 25px;
//         &__content {
//             padding: 20px 30px;
//         }

//         &__title {
//             font-size: 24px;
//         }

//         &__error {
//             font-size: 18px;
//         }

//         &__btn {
//             padding: 12px 10px;
//             font-size: 22px;
//         }
//     }
// }

.--none {
    display: none;
}
