@import url(./zero.css);

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: "Roboto", sans-serif;
    background: url(../img/tg_bg.svg);
    &::before {
        content: "";
        z-index: 2;
        background: radial-gradient(
                93.33% 75.92% at 100% 100%,
                rgba(255, 239, 155, 0.86) 0%,
                rgba(255, 239, 155, 0) 100%
            ),
            radial-gradient(
                94.79% 100% at 0% 100%,
                rgba(142, 222, 213, 0.96) 0%,
                rgba(123, 242, 228, 0) 100%
            ),
            radial-gradient(
                72.54% 67.33% at 0% 8.25%,
                rgba(80, 166, 255, 0.72) 0%,
                rgba(66, 133, 202, 0) 98.09%
            ),
            #b5afe9;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
    }
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
}
.settings {
    z-index: 10;
    width: 100%;
    // .settings__conteiner

    &__conteiner {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}
.row {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.input {
    background: var(--Telegram-bg_color, #fff);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.06);
    border: 0;
    padding: 13px 10px;
    border-radius: 6px;
    flex: 1 1 auto;
    outline: none;
}

.count {
    border-radius: 6px;
    background: var(--Wallet-quick_menu_background, #fff);
    box-shadow: 0px 1px 3px 0.5px rgba(0, 0, 0, 0.12);
    color: var(--Telegram-text_color, #222);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    border: 0;
    outline: none;
    padding: 10px 16px;
}
.btn {
    background: var(--Telegram-button_color, #50a8eb);
    width: 100%;
    border: 0;
    color: var(--Telegram-button_text_color, #fff);
    text-align: center;

    /* Button 2 */
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 114.286% */
    text-transform: uppercase;

    padding: 16px 10px;
    cursor: pointer;
    transition: all 0.5s ease;
    &.--sending {
        background: var(--Wallet-button_main_disabled_color, #e9e8e8);
        color: var(--Wallet-text_main_disabled_color, #bababa);
    }
}

.posts {
    width: 100%;
    // .posts__conteiner

    &__conteiner {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }

    // .posts__post

    &__post {
    }

    // .posts__text

    &__text {
        p {
            padding-bottom: 5px;
        }
    }
}
.post {
    background: var(--Telegram-bg_color, #fff);
    box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.06);
    border-radius: 12px 12px 12px 3px;
    padding: 8px 12px;
    padding-bottom: 20px;
    max-width: 70%;

    &.--media {
        width: 100%;
    }

    &__title {
        color: var(--Telegram-button_color, #50a8eb);
        font-weight: 700;
        margin-bottom: 5px;
    }

    // .post__media

    &__media {
        margin-bottom: 15px;
        display: flex;
        gap: 5px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}
.media {
    &__item {
        width: 100%;
        aspect-ratio: 1;
        background-color: #999;
        border-radius: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        overflow: hidden;
        &.--load {
            &::after {
                content: "";
                position: absolute;
                width: 1200px;
                height: 200px;
                rotate: 80deg;
                top: 50;
                left: -760px;
                // display: none;
                background: linear-gradient(
                    to bottom,
                    rgba(233, 231, 239, 0) 0%,
                    #e9e7ef36 50%,
                    rgba(233, 231, 239, 0) 100%
                );
                opacity: .4;
                animation: leftTranslate 4s infinite;
            }
        }
    }


    .--first {
        flex: 1 1 auto;
        aspect-ratio: 8/4;
    }

    .--one {
        flex: 1 1 auto;
        aspect-ratio: 0.9;
    }

    .--two {
        flex: 1 1 calc((100% - 5px) / 2);
    }

    .--three {
        flex: 1 1 calc((100% - 10px) / 3);
    }
}

@keyframes leftTranslate {
    0% {
        left: -760px;
    }
    100% {
        left: calc(100% + 480px);
    }
}