html,
body,
li,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin: 0;
    padding: 0;
}

*, *::before, *::after
{
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}